@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    overflow: hidden;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-size: 5em;
    font-weight: 900;
    text-decoration: none;
    line-height: 1.2em;
}

ul li a:before,
ul li a::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

ul li a:hover{
    color: white;
    -webkit-text-stroke: 1px black;
    transition: 0.5s;
}

ul li a:hover:before{
    color: red;
    z-index: 1;
    -webkit-text-stroke: 1px black;
    transform: translate(10px, -10px);
}

ul li a:hover::after{
    color: #0ff;
    z-index: 2;
    -webkit-text-stroke: 1px black;
    transform: translate(20px, -20px);
}